*{
font-family: 'Open Sans', sans-serif;
margin: 0px;
padding: 0px;


}

h1{
	font-family: 'Josefin Sans', sans-serif;

	font-size: 40px;
}

#header{
	
display: flex;
background-color: #F2F2F2;
font-size: 30px;
padding: 20px;
position: sticky;
top: 0px;
}
#header>button{


margin-left: auto;

}



#secondDiv{
background-color: white;

	padding: 25px;

	margin-left: 100px;
}
#thirdDiv{

	padding-top: 100px;
background-color: #C8E8E0;

height: 800px;
color: #2E937A;
text-align: center;

padding: 30px;

}





#thirdDiv>h3{

	padding-bottom: 40px;
}

#container{
margin-top: 0px;
	
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
	margin-right: 50px;
	height: 300px;
	align-content: center;
	padding: 50px;

}


#thirdDiv>#container>div{
margin: 15px;
	padding: 50px;
	background-color: white;
	height: 450px;
	border-radius: 20px;

}


#container>div>img{


	margin-bottom: 60px;
}
#container>div>h3{


	margin-bottom: 30px;
}

#container>div>p{


	margin-bottom: 30px;
}

h3{

	font-weight: bold;
}
button{



	color: white;
	background-color: #2E937A;
	width: 150px;
	font-size: 20px;
	height: 35px;
border-radius: 15px;
border: none;
}



#header>h3{

	font-size: 25px;
}
#secondDiv>h2{

	color: grey;
}


#thirdDiv>h3{
letter-spacing: 7px;

	font-family: 'PT Serif', serif;
}

#black{

display: flex;
font-size: 16px;
background-color: black;
color: white;
height: 180px;

text-align: center;
justify-content: center;
align-items: center;
flex-direction: column;
}

#black>p{
	width: 500px;
}





#header>h3{

	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: bold;
}


#secondDiv>h2{

	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
}